html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(223, 223, 223);
  color: black;
}

button:hover {
  background-color: rgb(187, 187, 187);
}

/*@media (prefers-color-scheme: dark) {*/
html {
  color-scheme: dark;
}
body {
  color: white;
  background-image: linear-gradient(0deg, #212121 0%, #0f0f0f 50%);
}
/*}*/
